body {
  margin: 20px;
  font-size: 16px;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.section {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    border: 2px solid #999;
    background-color: #f2f2f2;
    margin: 20px;
}

.label {
    height: 20px;
    margin-top: 8px;
}

.dragitem {
    width: 100px;
    height: 30px;
    padding-top: 10px;
    border: 2px solid;
    border-color: #888;
    background-color: #333;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.droptarget {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    border: 2px dashed;
    text-align: center;
}
